.DS_Store

www/application/cache/*
!www/application/cache/index.html
!www/application/cache/.htaccess

www/application/logs/*
!www/application/logs/index.html
!www/application/logs/.htaccess

.idea

www/images/*
www/thumbnails/*
