*{
    padding: 0px;
    margin: 0px;
}
html,body{
    font-size:100%;
    font-family: Helvetica, arial, freesans, clean, sans-serif;
    color:#444;
    height: 100%;
    display: block;
}
#loginbg{
    background: transparent url(img/macbg.jpg) no-repeat center 40%;
}
input[type=text],input[type=password]{
     /* The text fields */
     font: 15px 'Segoe UI',Arial,sans-serif;
     border: none;
     background:none;
     height: 36px;
     left: 26px;
     position: absolute;
     top: 176px;
     width: 234px;
     text-indent: 8px;
     text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
     color:#eee;
     outline:none;
 }

#loginPass{
    top: 215px;
}

#recoverEmail{
    top:215px;
}

input[type=submit]{

    /* Submit button */

    opacity:0.9;
    position:absolute;
    top:262px;
    left:25px;
    width: 239px;
    height:36px;
    cursor:pointer;
    border-radius:6px;
    box-shadow:0 1px 1px #888;
    border:none;
    color:#fff;
    font:14px/36px 'Segoe UI Light','Segoe UI',Arial,sans-serif;

    /* CSS3 Gradients */

    background-image: linear-gradient(bottom, rgb(80,102,127) 50%, rgb(87,109,136) 50%, rgb(106,129,155) 100%);
    background-image: -o-linear-gradient(bottom, rgb(80,102,127) 50%, rgb(87,109,136) 50%, rgb(106,129,155) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(80,102,127) 50%, rgb(87,109,136) 50%, rgb(106,129,155) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(80,102,127) 50%, rgb(87,109,136) 50%, rgb(106,129,155) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(80,102,127) 50%, rgb(87,109,136) 50%, rgb(106,129,155) 100%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.5, rgb(80,102,127)),
        color-stop(0.5, rgb(87,109,136)),
        color-stop(1, rgb(106,129,155))
    );
}

input[type=submit]:hover{
    opacity:1;
}

input::-webkit-input-placeholder {
    color:#eee;
}
