*{
    padding: 0px;
    margin: 0px;
    font-family: Helvetica, arial, freesans, clean, sans-serif;
}
html,body{
    font-size:100%;
    font-family: Helvetica, arial, freesans, clean, sans-serif !important;
    /*color:#444;*/
    height: 100%;
    display: block;
    /*background: #f2f2f2;*/
}
/*li {*/
    /*display: list-item;*/
    /*text-align: -webkit-match-parent;*/
/*}*/
/*a {*/
    /*color: #245dc1;*/
    /*text-decoration: none;*/
    /*cursor: pointer;*/
/*}*/
/*h3{*/
    /*color: #dd4b39;*/
    /*margin-bottom: 10px;*/
    /*background: rgba(243,243,243,.85);*/
    /*border: 1px solid #e5e5e5;*/
    /*padding: 5px;*/
/*}*/
fieldset
{
    border: 1px solid #eee;
    padding: 10px;
}
legend{
    color: #245dc1 ;
    font-weight: bold;
}
/*input{*/
    /*font-size: .8em;*/
/*}*/

/*input[type=text],*/
/*textarea,*/
/*select*/
/*{*/
    /*display: block;*/
    /*width:75%;*/
    /*margin: 3px;*/
    /*background: #fafafa;*/
    /*min-height: 34px;*/
    /*padding: 7px 8px;*/
    /*outline: none;*/
    /*color: #333;*/
    /*border: 1px solid #ccc;*/
    /*border-radius: 3px;*/
    /*box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);*/
    /*-moz-box-sizing: border-box;*/
    /*box-sizing: border-box;*/
    /*vertical-align: middle;*/
/*}*/
/*label{*/
    /*margin: 5px;*/
/*}*/
/*input[type=checkbox]{*/
/*}*/
/*input[type=button]{*/
    /*-webkit-box-shadow: none;*/
    /*box-shadow: none;*/
    /*background-color: #357ae8;*/
    /*background-image: -webkit-linear-gradient(top,#4d90fe,#357ae8);*/
    /*background-image: linear-gradient(top,#4d90fe,#357ae8);*/
    /*border: 1px solid #2f5bb7;*/
    /*border-bottom-color: #2f5bb7;*/
    /*margin: 6px 2px;*/
    /*vertical-align: middle;*/
    /*-webkit-border-radius: 2px;*/
    /*border-radius: 2px;*/
    /*cursor: pointer;*/
    /*font-weight: bold;*/
    /*text-align: center;*/
    /*white-space: nowrap;*/
    /*height: 32px;*/
    /*line-height: 27px;*/
    /*min-width: 54px;*/
    /*outline: 0;*/
    /*padding: 0 10px;*/
    /*color:#fff;*/
    /*margin-left: 10px;*/
/*}*/
header{
    /*background: #f5f5f5;*/
    /*border-bottom: 1px solid #eee;*/
    color: #444;
    min-height: 44px;
    /*padding: 10px 0px 5px 0px;*/
}

header h2{
    float: left;
    letter-spacing: -0.06em;
    font-size: 20px;
    font-weight: 900;
    line-height: 1.375;
    margin: 0;
    /*text-shadow: -1px -1px white, 1px 1px #ccc;*/
    /*font-family: arial, freesans, clean, sans-serif;*/
}
.wrap {
    margin: auto;
    width:90%;
    /*max-width: 1050px;*/
}
/*.nav{*/
    /*background: #707070;*/
    /*background: -o-linear-gradient(top,rgba(0,0,0,.2) 0,rgba(0,0,0,0) 5%,rgba(0,0,0,0) 95%,rgba(0,0,0,.2) 100%),-o-linear-gradient(left,rgba(0,0,0,.2) 0,rgba(0,0,0,0) .2%,rgba(0,0,0,0) 99.8%,rgba(0,0,0,.2) 100%),url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAA9QAAAAkCAMAAABfcIIyAAAAGXRF…x%2BeQqLpPJDae9P5%2FmrVz491%2FWekBlKy7PXVfn9rb9xXsMD2wdOcAAAAAElFTkSuQmCC") no-repeat 50% 50%,-o-linear-gradient(bottom,#666 0,#5e5e5e 50%,#707070 51%,#808080 100%);*/
    /*background: -moz-linear-gradient(top,rgba(0,0,0,.2) 0,rgba(0,0,0,0) 5%,rgba(0,0,0,0) 95%,rgba(0,0,0,.2) 100%),-moz-linear-gradient(left,rgba(0,0,0,.2) 0,rgba(0,0,0,0) .2%,rgba(0,0,0,0) 99.8%,rgba(0,0,0,.2) 100%),url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAA9QAAAAkCAMAAABfcIIyAAAAGXRF…x%2BeQqLpPJDae9P5%2FmrVz491%2FWekBlKy7PXVfn9rb9xXsMD2wdOcAAAAAElFTkSuQmCC") no-repeat 50% 50%,-moz-linear-gradient(bottom,#666 0,#5e5e5e 50%,#707070 51%,#808080 100%);*/
    /*background: -webkit-gradient(linear,0 0,0 100%,from(rgba(0,0,0,.2)),color-stop(0.05,rgba(0,0,0,0)),color-stop(0.95,rgba(0,0,0,0)),to(rgba(0,0,0,.2))),-webkit-gradient(linear,0 0,100% 0,from(rgba(0,0,0,.2)),color-stop(0.002,rgba(0,0,0,0)),color-stop(0.998,rgba(0,0,0,0)),to(rgba(0,0,0,.2))),url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAA9QAAAAkCAMAAABfcIIyAAAAGXRF…x%2BeQqLpPJDae9P5%2FmrVz491%2FWekBlKy7PXVfn9rb9xXsMD2wdOcAAAAAElFTkSuQmCC") no-repeat 50% 50%,-webkit-gradient(linear,0 100%,0 0,from(#666),color-stop(0.5,#5e5e5e),color-stop(0.51,#707070),to(#808080));*/
    /*background: -ms-linear-gradient(top,rgba(0,0,0,.2) 0,rgba(0,0,0,0) 5%,rgba(0,0,0,0) 95%,rgba(0,0,0,.2) 100%),-ms-linear-gradient(left,rgba(0,0,0,.2) 0,rgba(0,0,0,0) .2%,rgba(0,0,0,0) 99.8%,rgba(0,0,0,.2) 100%),url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAA9QAAAAkCAMAAABfcIIyAAAAGXRF…x%2BeQqLpPJDae9P5%2FmrVz491%2FWekBlKy7PXVfn9rb9xXsMD2wdOcAAAAAElFTkSuQmCC") no-repeat 50% 50%,-ms-linear-gradient(bottom,#666 0,#5e5e5e 50%,#707070 51%,#808080 100%);*/
    /*background: #fcfcfc;*/
    /*border-bottom: 1px solid #f2f2f2;*/
    /*margin: 0 0 30px;*/
    /*min-height: 36px;*/
    /*overflow: hidden;*/
    /*padding: 0 12px;*/
    /*-webkit-box-shadow: 0 0 8px #D0D0D0;*/
    /*position: relative;*/
    /*z-index: 10;*/
    /*-webkit-border-radius: 4px;*/
    /*-moz-border-radius: 4px;*/
    /*border-radius: 4px;*/
    /*-webkit-box-shadow: rgba(0,0,0,0.3) 0 1px 2px;*/
    /*-moz-box-shadow: rgba(0,0,0,0.3) 0 1px 2px;*/
    /*box-shadow: rgba(0,0,0,0.3) 0 1px 2px;*/
    /*font: .9em "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;*/
    /*vertical-align: middle;*/
    /*overflow: hidden;*/
    /*color: #fff;*/
/*}*/
.headeruser{
    float:right;
    height: 36px;
    line-height: 2.4;
}
/*.nav ul{*/
    /*list-style: none;*/
    /*padding: 0;*/
/*}*/
/*.nav ul li{*/
    /*float: left;*/
    /*height: 36px;*/
    /*line-height: 2.4;*/
/*}*/
/*.nav a{*/
    /*color:#fff;*/
/*}*/
/*.nav ul li a{*/
    /*display: block;*/
    /*height: 36px;*/
    /*margin: 0 7px 0 0;*/
    /*padding: 0 15px 0 15px;*/
    /*position: relative;*/
    /*overflow: hidden;*/
    /*color: #fff;*/
    /*font-weight: bold;*/
/*}*/
/*.nav ul li a:hover{*/
    /*background: #555;*/
/*}*/
/*.nav ul li a.select{*/
    /*background: #333;*/

/*}*/

/*.ui-tabs-vertical { width: 100%; }*/
/*.ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; width: 20%; }*/
/*.ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }*/
/*.ui-tabs-vertical .ui-tabs-nav li a { display:block; }*/
/*.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; border-right-width: 1px; }*/
/*.ui-tabs-vertical .ui-tabs-panel { float: left; width: 70%;}*/

/*#tabs{*/
    /*min-height: 400px;*/
    /*border:none !important;*/
    /*overflow: hidden;*/
    /*min-width: 600px;*/
    /*-webkit-box-shadow: 0 0 8px #D0D0D0;*/

/*}*/
/*::-webkit-input-placeholder {*/
    /*color: #aaa;*/
    /*font-size:80%;*/
/*}*/

/*:-moz-placeholder {*/
    /*color: #aaa;*/
    /*font-size:80%;*/
/*}*/

/*::-moz-placeholder {*/
    /*color: #aaa;*/
    /*font-size:80%;*/
/*}*/

/*:-ms-input-placeholder {*/
    /*color: #aaa;*/
    /*font-size:80%;*/
/*}*/
#content table{
    width:100%;
    border-collapse: collapse;
}
.tblist thead{
    background: #fff;
}
.tblist a{
    text-decoration: underline !important;
}
#content table thead{
    border-bottom: 2px solid #ddd;
    /*background: #cccccc url(smoothness/images/ui-bg_highlight-soft_75_cccccc_1x100.png) 50% 50% repeat-x;*/
    color: #222222;
    font-weight: bold;
}
#content table td{
    padding: 5px;
    text-shadow: none;
    vertical-align: top;
}
#inputserviceplace td{
    width: 50% !important;
}

td input[type=text],
td select,
td textarea{
    max-width: 78% !important;
}
td label{
    width:20%;
    vertical-align: middle;
    overflow: hidden;
    padding-left: 5px;
}
.custom-radio label{
    width: auto;
}
.odd{
    background: #eee;
}
.even{
    background: #fff;
}
.trdelete{
    text-decoration: line-through;
}
/*
Pagination
*/
.pagination {
    float: left;
    border: 1px solid #CDCDCD;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    margin-top: 1em;
}

.pagination a {
    display: block;
    float: left;
    height: 20px;
    width: 20px;
    background-color: rgb(0,50,75);
    color: #555555;
    text-align: center;
    text-decoration: none;
    /*font-family: Times, 'Times New Roman', Georgia, Palatino; *//* ATTN: need a better font stack */
    font-weight: bold;
    font-size: 16px;
    outline: none;
    vertical-align: middle;

    background: #F3F3F3; /* Old browsers */
    background: -moz-linear-gradient(top,  #F3F3F3 0%, #D3D3D3 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F3F3F3), color-stop(100%,#D3D3D3)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #F3F3F3 0%,#D3D3D3 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #F3F3F3 0%,#D3D3D3 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #F3F3F3 0%,#D3D3D3 100%); /* IE10+ */
    background: linear-gradient(top,  #F3F3F3 0%,#D3D3D3 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F3F3F3', endColorstr='#D3D3D3',GradientType=0 ); /* IE6-9 */

}

.pagination a:hover, .pagination a:focus, .pagination a:active {

    background: #CECECE; /* Old browsers */
    background: -moz-linear-gradient(top,  #E4E4E4 0%, #CECECE 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#E4E4E4), color-stop(100%,#CECECE)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #E4E4E4 0%,#CECECE 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #E4E4E4 0%,#CECECE 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #E4E4E4 0%,#CECECE 100%); /* IE10+ */
    background: linear-gradient(top,  #E4E4E4 0%,#CECECE 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E4E4E4', endColorstr='#CECECE',GradientType=0 ); /* IE6-9 */

}

.pagination a.disabled, .pagination a.disabled:hover, .pagination a.disabled:focus, .pagination a.disabled:active {

    background: #F3F3F3; /* Old browsers */
    background: -moz-linear-gradient(top,  #F3F3F3 0%, #D3D3D3 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F3F3F3), color-stop(100%,#D3D3D3)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #F3F3F3 0%,#D3D3D3 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #F3F3F3 0%,#D3D3D3 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #F3F3F3 0%,#D3D3D3 100%); /* IE10+ */
    background: linear-gradient(top,  #F3F3F3 0%,#D3D3D3 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F3F3F3', endColorstr='#D3D3D3',GradientType=0 ); /* IE6-9 */

    color: #A8A8A8;

}

.pagination a:first-child {
    border-radius: 2px 0 0 2px;
    -moz-border-radius: 2px 0 0 2px;
    -webkit-border-radius: 2px 0 0 2px;
}

.pagination a:last-child {
    border-radius: 0 2px 2px 0;
    -moz-border-radius: 0 2px 2px 0;
    -webkit-border-radius: 0 2px 2px 0;
}

.pagination a {
    border-right: 1px solid #CDCDCD;
    border-left: 1px solid #CDCDCD;
}

.pagination a:first-child {
    border: none;
}

.pagination a:last-child {
    border: none;
}

.pagination input {
    border: none;
    float: left;
    text-align: center;
    height: 20px !important;
    min-height: 20px !important;
    outline: none;
    vertical-align: middle;
    width: 120px;
    padding: 0;
    margin: 0;
    font-size: .8em !important;
}
td img{
    max-height: 120px;
    margin-right: 10px;
    display: inline-block;
}

.idinput{
    width: 100px !important;
    display: inline-block !important;
}
.mapoption{

}
.mapoption input{
    margin: 0px !important;
    font-size: .8em;
}
#damapdemo img{
    max-height: 200px;
}
#content{
    padding-bottom:100px;
}
#tabs{
    min-height: 400px;
}
#allpage{
    min-height:100%;
    display: block;
    position:relative;
}
footer{
    position: absolute;
    bottom: 0px;
    width:100%;
    height: 30px;
    padding: 20px 0 20px 0;
    background: transparent url(img/footer.png) repeat 0 0;
    border-top: 1px solid #000;
    color: #a5a5a5;
    text-shadow: none;
}

.navavatar{
    max-height: 24px;
    vertical-align: middle;
}
.width200{
    width: 200px !important;
    display: inline-block;
    float:left;
}
.pagination input{
    width:auto !important;
}

.logo{
    background: url(img/phongee.png) no-repeat 100% 100%;
    background-size: contain;
    height: 30px;
    width:200px;
    display: inline-block;
}
input[type="text"],textarea {
    background: #fff;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    border: 1px solid #dedede;
    padding-left: 12px;
}
select{
    padding: 5px;
    width: 100%;
}
.ui-datepicker-next,
.ui-datepicker-prev{
    border: none;
    top:4px !important;
}
.ui-datepicker-prev{
    left:3px!important;
}
.ui-datepicker-next{
    right:3px!important;
}
.chosen-container{
    min-height: 32px;
    vertical-align: middle;
    line-height: 32px;
}
a.chosen-single{
    padding-left: 10px;
    display: block;
}
#targetoption .field_select{
    width: 40%;
}
table td a{
         display: block;
}
#thanhtoanbox div{
      margin: 3px;
    display: block;
}
b{
    font-weight: 700;
}
#lichsudonhang{
    max-height: 100px;
    overflow-y: auto;
}
:-webkit-autofill{
    background-color: #fff !important;
}
input,
textarea,
select{
    /*margin-bottom: 10px !important;*/
}
label
{
    line-height: 22px !important;
}
.ui-widget-content{
    border:none !important;
}
.ui-widget-header{
    background: none !important;
    border:none !important;
    border-bottom:1px solid #aaaaaa !important;
}
.ui-corner-all{
    border-radius: 0 !important;
}
.tblist td{
    border-bottom: 1px solid #ddd;
}
.red{
    background: red;
}
.orange{
    background: orange;

}
.yellow{
    background: #ffff00;
}
.ui-dialog{
    border:1px solid #333 !important;
}
.ui-tabs-panel{
    overflow-x: auto;
    min-height: 300px !important;
}
#listrole td{
    min-width: 80px;
}
#listrole td select{
    width: 100% !important;
}
.fixcolum{
    position: absolute;
    background: #fff;
}
.w100{
    width: 100px !important;
}
.w50{
    width:50px  !important;
}
.l100{
    left:100px;
}
#rolenotif{
    color: red;
    display: block;
    background: lightgoldenrodyellow;
    line-height: 28px;
    vertical-align: middle;
    width: auto;
    position: absolute;
}
#tablerole{
    margin-top: 28px;
}
.clear{
    display: block;
    clear: both;
}
#leftside{
    float:left;
    width: 73%;

}
#rightside{
    float:right;
    width:25%;
    /*background: url(img/bg.png) repeat-x;*/
}
#rightside td{
    font-size: 12px;
    line-height: 14px;
}
.block{
    clear: both;
    margin-top:10px;
}
.blockhead{
    overflow: hidden;
    line-height: 32px;
    vertical-align: middle;
}
.blockhead img{
    float:left;display: inline-block;margin-right: 10px;
    width:32px;
}
.temp{
    line-height: 24px;
    font-size: 24px;

}
.temp img{
    height: 24px;
}